In [1]:
import pandas as pd

In [5]:
grubhub_df = pd.read_csv("ghUTF8.csv")

In [6]:
grubhub_df.head()

,id,date,establishment,total,tip,grubhub,timePay,mileagePay,miles,bonus,acceptedAt,streetName,city,zip,canceled,popUp,type,lat,long,rating
0,1,7/2/2021,Shere E Punjab,11.14,3.18,7.96,3.55,2.53,11.00,1.88,11:31:00 AM,"""3319 301 Byers Dr #15""",Glen Mills,19342,0,0,Indian,39.88499,-75.52817,4.0
1,2,7/4/2021,McDonald's,11.34,3.99,7.35,2.51,1.60,6.96,3.24,12:43:00 PM,1 Christy Dr,Concordville,19331,0,0,Fast Food,39.88220,-75.54521,1.5
2,3,6/27/2021,Tsunami,11.83,5.43,6.40,3.58,1.82,7.91,1.00,4:22:00 PM,10 Market St,West Chester,19382,0,0,Asian,39.95963,-75.60473,4.0
3,4,7/13/2021,Chipotle,13.40,8.78,4.62,3.48,1.14,4.96,0.00,4:29:00 PM,101 Turner Ln,West Chester,19380,0,0,Mexican,39.96945,-75.58764,2.0
4,5,7/9/2021,Chipotle,9.00,4.04,4.96,2.91,1.79,7.78,0.26,12:15:00 PM,101 Turner Ln,West Chester,19380,0,0,Mexican,39.96945,-75.58764,2.0

In [7]:
grubhub_df.to_html("grubhubData.html", index=False)